include ./inc/header.jade
  body
    .hero-unit
      h1= "Yo yo2!"
      p.
        "Something here"

    <!-- build:js js/vendor.js -->
    <!-- bower:js -->

    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js js/main.min.js -->
    script(src="js/main.js")
